
metadados/__pycache__/
Atividades/__pycache__/__init__.cpython-310.pyc
Atividades/__pycache__/base.cpython-310.pyc
*.pyc
*.pyc
metadados/__pycache__/bot.cpython-310.pyc
metadados/__pycache__/__init__.cpython-310.pyc
